*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 50px;
    padding-top: 10px;
}
.container{
    padding: 0px;
    padding-top: 0;
    background-image:  url("https://media.istockphoto.com/vectors/seamless-floral-background-pattern-in-pastel-pink-gray-vintage-color-vector-id1032865636?k=6&m=1032865636&s=170667a&w=0&h=Mh1Tg0TBCV2UVbuGiRE6s0WmYnmeQLND1FoOScDFXBs=");
}
.titulo{
    text-transform: uppercase;
    background-color: rgb(31, 41, 54);
    color: white;
    padding: 10px;
    width: 80%;
    box-shadow: rgb(31, 41, 54);
    -webkit-box-shadow: 4px 10px 21px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 10px 21px -10px rgba(0,0,0,0.75);
    box-shadow: 4px 10px 21px -10px rgba(0,0,0,0.75);
    text-align: right;
    position: relative;
    left: -100px;
    font-size: 18px;
}
.tamaño-pdf{
    text-align: center;
}
table{
    padding-left: 5%;
    padding-right: 5%;
    border-spacing: 0px;
    width: 100%;
}
th{
    background-color: rgb(252, 237, 162);
    border: 2px solid rgb(240, 212, 31);
    border-top: 0px;
    max-width: 50%;
    min-height: 54px !important;
    height: auto;
    font-size: 12px;
}
td{
    background-color: white;
    border: 2px solid rgb(240, 212, 31);
    border-top: 0px;
    border-left: 0px;
    height: 54px;
    font-size: 11px;
    text-align: center;
}
.border{
    border-top: 2px solid rgb(240, 212, 31);
}
.pt-5{
    padding-top: 10px;
}
.pregunta{
    width: 50%;
    min-width: 50%;
}
.respuesta{
    width: 50%;
    min-width: 50%;
}
.font{
    font-size: 14px;
    font-weight: bold;
}
.header{
    background-color: rgb(31, 41, 54);
    color: white;
    max-height: 80px !important;
}
.subtitulo{
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-left: 10px;  
}
.titulo-h1{
    padding-top: 10px;
    padding-left: 10px;
}
.logo-m{
    display: block;
    width: 100px !important;
    margin-right: 15px;
    margin-top: 40px;
    float: right;
    
}
.logo-derecha{
    margin-bottom: 10px;
    z-index: 5;
}